<%include header%>
<link rel="stylesheet" href="/css/contact.css">
<body background="/images/pexels-photo-248797.jpeg">
    <h1>Any queries please contact!!!!</h1>
    NAME:<br>
    <input type="text"><br>

    Email:<br>
    <input type="text"><br>
    Message:<br>
    <input text="text"><br>
    <br>
    <br>
    <a href="https://github.com/Indramamidi">
        <img src="https://camo.githubusercontent.com/7710b43d0476b6f6d4b4b2865e35c108f69991f3/68747470733a2f2f7777772e69636f6e66696e6465722e636f6d2f646174612f69636f6e732f6f637469636f6e732f313032342f6d61726b2d6769746875622d3235362e706e67"
            width="80" height="80">
        <a href="https://bitbucket.org/dashboard/overview">
            <img src="https://s3.amazonaws.com/helpjuice_production/uploads/upload/image/2341/29865/bitbucket.png"
                width="80" height="100">
        </a>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <%include footer%>