<% include header %>
<link rel="stylesheet" href="/css/index.css">
</head>
<body background="images/greencolor.jpg">
    
    <br>
    <br>
    <br>
    <img src="images/img.jpg" class="img-circle" alt="image" height="300" width="250">
<main>

      <article id="amy" class="row">


          <section class="col-sm-4">
              <h3>Introduction</h3>
              <p id="seh">
                  I am graduate student admitted for the batch fall 2018 and
                  I choose Applied Computer Science as my major.</p>
          </section>


          <section class="col-sm-4">
              <h3> Past </h3>
              <p id="gan">
                  I am from Hyderabad which is located at southern part of India.
                  I had completed my Bachelor’s degree in Electronics And Communications Engineering from JNTU in
                  2016.
                  Later I worked couple of months in Nvidia as Process Associate .</p>
          </section>


          <section class="col-sm-4">
              <h3> Goals </h3>
              <p class="dra">
                  With the help of Master's in ACS I would like to gain some more knowledge in software.
                  So, that I hope I can become a potential software engineer and get placed in good companies.</p>
          </section>




          <section class="col-sm-6">
              <h3> Schedule</h3>

              <table>

                  <tr>
                      <td>Subject &emsp;</td>
                      <td>Week &emsp;</td>
                      <td>Time &emsp;</td>
                  </tr>

                  <tr>
                      <td> OOP &emsp;</td>
                      <td> Tuesday,Thursday &emsp; </td>
                      <td> 2-3.15 p.m &emsp;</td>
                  </tr>
                  <tr>
                      <td> WEB APPS </td>
                      <td> Monday,Wednesday </td>
                      <td> 2-2.50 p.m</td>
                  </tr>
                  <tr>
                      <td> DBS </td>
                      <td> Monday,Wednesday </td>
                      <td> 8-8.50 a.m</td>
              </table>

          </section>

      </article>

      <aside class="aside-header">
          <p>
              <aside>
                  information: <a href="mindrareddy27@gmail.com">
                      mindrareddy27@gmail.com</a>
          </p>

          <iframe width="429" height="210" src="https://www.youtube.com/embed/z32VQgObAr4" frameborder="0" allow="autoplay; encrypted-media"
              allowfullscreen></iframe>

      </aside>

  </main>
  
<% include footer %>